* {
  text-align: center;
}

.linksBox {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  height: fit-content;
  justify-content: center;
}

.links {
  scale: 1.5;
  color: black;
}

.textLinks {
  display: flex;
  flex-direction: column;
  line-height:.8rem
}