* {
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Patrick Hand SC', cursive;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 22pt;
}

h2:hover {
  cursor: pointer;
  color:#34A3D8;
}

a:hover {
  cursor: pointer;
}

h3 {
  font-size: 16pt;
  margin-right: 10vw;
  margin-left: 10vw;
}

p {
  font-size: 15pt;
  margin-right: 10vw;
  margin-left: 10vw;
}

.avatar {
  border: 1px solid grey;
  border-radius: 50%;
  height: 16vh;
  box-shadow: 0px 0px 8px grey;
}

.avatarDiv {
  width: 100vw;
  padding-top: 7vh;
  padding-bottom: 2vh;
  position: fixed;
  top:0px;
  background-color: white;
  z-index: 2;
}

.body {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 67vh;
  gap: 2vh;
}

section {
  padding-top: 15px;
  -webkit-animation: fadein 1.5s linear;
  -moz-animation: fadein 1.5s linear;
  -o-animation: fadein 1.5s linear;
  -ms-animation: fadein 1.5s linear;
    animation: fadein 1.5s linear;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.linksBox {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  height: fit-content;
  justify-content: center;
}

.links {
  scale: 1.5;
  color: black;
  padding-top: 15px;
}

.link:is(:hover, :visited:hover) {
  color:#34A3D8;
}

.link:visited {
  color:#7bb9d5;
}

.textLinks {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-bottom: 25px;
}

.foot {
  position: static;
  bottom: 0px;
  min-height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 5px; */
  background-color: white;
  gap: 10px;
}

.foot > p {
  font-size: 2vh;
}

.footerText {
  font-size: 15pt;
}

.darkMode {
  background-color: black;
  color: rgb(250, 252, 244);
  /* -webkit-animation: fadein 1.5s linear;
  -moz-animation: fadein 1.5s linear;
  -o-animation: fadein 1.5s linear;
  -ms-animation: fadein 1.5s linear;
    animation: fadein 1.5s linear; */
}

.darkModeAvatar {
  box-shadow: 0px 0px 8px rgb(250, 252, 244);
  /* -webkit-animation: fadein 1.5s linear;
  -moz-animation: fadein 1.5s linear;
  -o-animation: fadein 1.5s linear;
  -ms-animation: fadein 1.5s linear;
    animation: fadein 1.5s linear; */
}